html {
  height: 100%;
}
body {
  height: 100%
}

.banner {
  padding: 75px;
  background-image: url(https://static.pexels.com/photos/9049/pexels-photo.jpg);
  background-size: cover;
  background-position: center;
  color: orange;
  text-align: center;
}

h1 {
  color: orange;
  text-align: center;
}

h2 {
  color: orange;
  text-align: center;
}
ul {
  color: orange;
  text-align: center;
}
